body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 5;
    background-color: #1f2937;
  }

.title-container {
    display: flex;
    background-color: #1f2937;
    justify-content: space-evenly;
    gap: 600px;
    margin-bottom: 60px;
}

.second-layer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.left-container {
    display: flex;
    flex-direction: column;
    margin: 25px;
    justify-content: flex-start;
    word-wrap: break-word;
    width: 22.5%;
}

.right-container {    
    margin: 25px;
}

img[src="./logo.jpg"] {  
    border-radius: 15px;
}

.links {
    font-size: 18px;
    display: flex;
    gap: 20px;
    align-items: center;
}

a:link{
    color: #f9faf8;
    text-decoration: none;
}

a:visited {
    color: #f9faf8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    margin-bottom: -10px;
    margin-top: 10px;
}

p {
color: #e5e7eb;
font-size: 18px;
}

button {
    width: 150px;
    color: #e5e7eb;
    background-color: #3882F6;
    border-radius: 7px;
}